div#out-loader
  div#in-loader
    img(src="/images/loading.gif" alt="Now Loading...")
    p Now In Summary...

script().
  "use strict";
  function loading() {
    let height = $(window).height();
    $('#out-loader, #in-loader').height(height).css('display', 'block');
    stoploading();
  }

  function stoploading() {
    $('#out-loader').delay(900).fadeOut(800);
    $('#in-loader').delay(600).fadeOut(300);
  }
