div.footer
  a(href="http://px.a8.net/svt/ejp?a8mat=2I0Y1E+BZ1UR6+50+2I0B8H" target="_blank")
    img(border="0" width="468" height="60" alt="" src="http://www28.a8.net/svt/bgt?aid=151209554724&wid=001&eno=01&mid=s00000000018015118000&mc=1")
    img(border="0" width="1" height="1" src="http://www18.a8.net/0.gif?a8mat=2I0Y1E+BZ1UR6+50+2I0B8H" alt="")
