extends layout

block content
  h1=title
  textarea#nlp-input(placeholder="要約したい文章を入力してください。")
  br
  br
  合計文字数：
  span#nlp-count
  div.spinner
    div.rect1
    div.rect2
    div.rect3
    div.rect4
    div.rect5
  br
  br
  div#nlp-result
  br
  br
  合計文字数：
  div#nlp-result-count
  br
  br

  script(src="browser/kuromoji.js")
  script(src='../javascripts/markov.js')
