body {
  color: #234567;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer {
  position: absolute;
	bottom: 0px;
	padding: 10px 0;
}

h1 {
  padding-bottom: .5em;
  border-bottom: 3px double #ccc;
}
h1:first-letter {
	margin-right: .1em;
	font-size: 1.5em;
}

a {
  color: #00B7FF;
}

table,th,td {
  border-collapse: collapse;
  border: 1px blue solid;
}

textarea#nlp-input {
  width: 100%;
  height: 200px;
  border:2px solid #F78181;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div#nlp-result {
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}

span#nlp-count,div#nlp-result-count{
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-radius: 6px;
}
